@media only screen and (min-width:1400px){    
    body{
        width: 1400px;
        margin: 0 auto;
    }
}
@media  screen and (max-width:1150px){
    header .nav a:not(:last-child) {display: none;}
    header .nav a.icon {
        position: absolute;
        right: 0px;
        top: 10px;
        float: right;
        display: block;
        width: 12px;
  }
  header .nav a.icon:after{
    content: "";
    position: absolute;
    background-color: rgb(209, 9, 9);
    height: 5px;
    width: 0;
    left: 0;
    bottom: -19px;
    transition: 0.3s;
}
    header{
        justify-content: center;
    }
    .search{
        position: absolute;
        left: 5px;
    }
    header .nav a:active{
        background: #F0F0F0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header .nav a.icon:active{
        background: #F0F0F0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header .nav a:after{
        content: "";
        position: absolute;
        background-color: rgb(209, 9, 9);
        height: 3px;
        width: 0;
        left: 0;
        bottom: 0px;
        transition: 0.3s;
    }
    .newsletter input{
        width: 110px;
    }
    /* Archive part */
    .img-archive{
        width: 60%;
    }
}
@media screen and (max-width: 1150px) {
    header .nav.responsive {position: relative;}
    header .nav.responsive a.icon {
      position: absolute;
      left:0 ;
      top: 0px;
    }
    header .nav.responsive a{
      float: right;
      display: block;
      text-align: right;
      transition: 0.4s ease-in-out;
    }
    header .nav.responsive{
        background-image: linear-gradient(to bottom right, rgb(156, 20, 20), rgb(54, 54, 54));
        top: 60px;
        right: 0;
        z-index: 1;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        opacity: 95%;
        border-bottom-left-radius: 5% ;
        width: 20%;
        position: fixed;
        background-color: rgb(44, 44, 44);
        transition: 0.4s;
        position: absolute;
    }
}
@media screen and (max-width:991px){    
    header{
        justify-content: center;
    }
    header .nav.responsive{
        width: 30%;
    }
    .search{
        position: absolute;
        left: 5px;
    }
    
    
    .main{
        margin-right: 0px;
        margin-left: 0px;

    }
      /* first section main-1 */
      .main-1{
        grid-template-columns: none;
        height: auto;  
        padding: 2px;
        margin-top: 10px;
    }
    .main-1-right{
      grid-template-columns: none;
      
    }
    .main-1 .main-1-left{
        display: none;
    }
    .main-1-right-1{
        grid-template-rows: none;
    }
    .main-1-right-2{
        grid-template-rows: none;
    }
    .main-1-right-part{
        grid-template-columns: none;
    }
    .main-1-right-part1{
        height: 230px;
    }
    .main-1-right-part-bottom{
        height: 230px;
    }
    .main-1-right1{
        gap: 0px;

    }
    .main-1-right-2-part{
        height: 230px;
    }
    .main-title{
      position: absolute;
      color: cornsilk;
      text-shadow: 3px 3px 4px black;
      font-size: 1rem;
      bottom: 20px;
      margin-right: 20px;
      margin-left:20px;
  }
  .main-title-small{
      position: absolute;
      color: cornsilk;
      text-shadow: 3px 3px 4px black;
      bottom: 20px;
      margin-right: 20px;
      margin-left: 20px;
  }

    /* request */
      .request{
          grid-template-columns: 1fr 1fr 1fr;
      }
      .request-part4{
        display: none;
    }
    .request-part5{
        display: none;
    }
    .main{
        grid-template-columns: 2fr 4fr;
        overflow:none;
    }
    /* main right-sidebar-ads */
    .right-sidebar-ads{
        display: none;
    }
    .left-sidebar{
        display: none;
    }
    .content-part{
        height:auto;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .content-part .img-content{
        width: 70%;
        height: 160px;
    }
    .content-part .content-text{
        display: none;
    }
    /* خودرو */
    .one-category{
        margin:30px 20px 230px 20px;
    }
    .one-category-main{
        display: flex;
        flex-direction: column;
    }
    /* بررسی */
    .category-top6{
        grid-template-columns: none;
        height: 1100px;
    }
    .category-top6-1{
        height: 450px;
    }
    .category-top6-left-down-posts img{
        height: 200px;
    }
    /* FOOTER */
    .footer-columns{
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }
    .newsletter input{
        width: 200px;
    }
    .footer-copyright{
        font-size: 0.7rem;
    }
    /* Archive part */
    .archive-part{
        align-items: center;
    }
    .img-archive{
        width: 40%;
        height: 100%;
    }
    .archive-part .archive-text{
        display: none;
    }
    .category-container{
        display: flex;
        flex-direction: column;
    }

    /* single page */
    .single-page-container{
        overflow-x: hidden;
    }
    .single-page-container .single-page-title h1{
        font-size: 2em;
    }
    .single-page-container .single-page-text{
        width: 90%;
    }
    .single-page-container .single-page-bio{
        width: 90%;
    }
    .single-page-container .read-more-main{
        width: 90%;
    }
    .single-page-container .related-post{
        width: 90%;
    }
    .single-page-container .single-page-form{
        width: 90%;
    }
    .single-page-container .single-post-source{
        width: 90%;
    }

    /* login */
    .login-container .row{
        grid-template-columns: 1fr;
    }
    .login-container .img-container{
        display: none;
    }
    
    .login-container .row .row-right .login-box{
        padding:35px 45px;
        font-size: .7em !important;
        text-align: center;
        margin: 10px !important;
    }
    .login-container .row .row-right .login-box .input-group input{
        width: 100%;
    }
    .login-box form .do-you-have{
        text-align: center;
        padding: 10px;
    }
    .login-container .row{
        padding: 0px;
    }
    

}
  @media screen and (max-width:767px){
    header .nav.responsive{
        width: 40%;
    }
    header form:hover{
        width: 300px;
    }
    .main-1{
        grid-template-columns: none;
        height: auto;  
        padding: 2px;
        margin-top: 10px;
    }
    .main-1-right{
      grid-template-columns: none;
      
    }
    .main-1 .main-1-left{
        display: none;
    }
    .main-1-right-1{
        grid-template-rows: none;
    }
    .main-1-right-2{
        grid-template-rows: none;
    }
    .main-1-right-part{
        grid-template-columns: none;
    }
    .main-1-right-part1{
        height: 230px;
    }
    .main-1-right-part-bottom{
        height: 230px;
    }
    .main-1-right1{
        gap: 0px;

    }
    .main-1-right-2-part{
        height: 230px;
    }
    .main-title{
      position: absolute;
      color: cornsilk;
      text-shadow: 3px 3px 4px black;
      font-size: 1rem;
      bottom: 20px;
      margin-right: 20px;
  }
  .main-title-small{
      position: absolute;
      color: cornsilk;
      text-shadow: 3px 3px 4px black;
      bottom: 20px;
      margin-right: 20px;
  }
  /* request */
  .request{
    grid-template-columns: 1fr 1fr;
}
.request-part3{
    display: none;
}
.request-part4{
  display: none;
}
.request-part5{
  display: none;
}

/* content-part */
.content-part{
    height:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.content-part .img-content{
    width: 40%;
    height: 140px;
}
/* main-1 */
.right-sidebar-ads{
    display: none;
}
.main .left-sidebar{
    display: none;
}
.right-sidebar{
    display: none;
}
.main{
    grid-template-columns: 1fr;
}
.main-content .category{
    display: none;
}
.main-content .content-title{
    font-size: 0.8rem;
}
.main-content .content-text{
    display: none;
}
/* خودرو */
.one-category{
    margin:30px 0px 5px 0px;
    height:1170px;
}
.one-category-title{
    margin-right: 10px;
}
.one-category-rsidebar{
    display: none;
}
.one-category-left-up{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.one-category-left-down{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.one-category-left{
    gap: 1px;
}
.one-category-posts{
    display: flex;
    height: 180px;
}
.one-category-posts-img{
    width: 350px;
    height: 160px;
    margin: 10px;
}
.one-category-posts-title{
    display: none;
}
/* بررسی */
.category-top6{
    flex-direction: column;
    margin: 0px;
    height: auto;
    gap: 1px;
}
.category-top6-1{
    margin-bottom: 0px;
    gap: 1px;
    height: 350px;
}
.category-left-main{
    margin: 0px;
    gap: 1px;
}
.category-top6-left-up{
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin: 0px;
    height: 600px;
}
.category-top6-left-up-posts{
    height: 300px;
    margin: 0px;
    background-color: rgb(168, 39, 39);
}
.category-top6-left-down{
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin: 1px;
    margin-bottom: 240px;
}
.category-top6-left-down-posts{
    display: flex;
    gap: 1px;
    height: 140px;
    margin: 0px;
    background-color: white;
}
.category-top6-left-down-posts img{
    width: 200px;
    height: 100%;
}
/* footer */
.footer-columns{
    grid-template-columns: 1fr;
    padding: 3px;
    font-size: 0.7rem;
}
.newsletter input{
    width: 200px;
}
.footer-clomn1-content{
    grid-template-columns: 1fr 6fr;
    gap: 5px;
    margin-left: 0px;
    margin-right: 0px;
}
.newsletter-pocket{
    font-size: 1rem;
}

/* Archive Part */
.img-archive{
    width: 70%;
    height: 80%;


}

/* single page */
.single-page-container .single-page-title h1{
    font-size: 1.2em;
}
.single-page-container .single-page-text{
    width: 90%;
}
.single-page-container .single-page-bio{
    width: 90%;
}
.single-page-container .read-more-main{
    width: 90%;
}
.single-page-container .related-post{
    width:90%;
}
.single-page-container .single-page-form{
    width: 90%;
}
.single-page-container .related-post{
    grid-template-columns: 1fr 1fr;
}

/* login */
.login-container .row .row-right .login-box{
    font-size: .5em;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    border-radius: 15px;
    background-color: rgba(223, 17, 17, 0.1);
    padding: 25px 35px;
    color: white;
    margin: 20px;
}
    .login-box form .input-group{
    
    }
}
@media screen and (max-width:480px){
    header .nav.responsive{
        width: 50%;
    }
    header form:hover{
        width: 300px;
    }

  .main-1{
      grid-template-columns: none;
      height: auto;  
      padding: 2px;
      margin-top: 10px;
  }
  .main-1-right{
    grid-template-columns: none;
    
  }
  .main-1 .main-1-left{
      display: none;
  }
  .main-1-right-1{
      grid-template-rows: none;
  }
  .main-1-right-2{
      grid-template-rows: none;
  }
  .main-1-right-part{
      grid-template-columns: none;
  }
  .main-1-right-part1{
      height: 230px;
  }
  .main-1-right-part-bottom{
      height: 230px;
  }
  .main-1-right1{
      gap: 0px;

  }
  .main-1-right-2-part{
      height: 230px;
  }
  .main-title{
    position: absolute;
    color: cornsilk;
    text-shadow: 3px 3px 4px black;
    font-size: 1rem;
    bottom: 20px;
    margin-right: 20px;
}
.main-title-small{
    position: absolute;
    color: cornsilk;
    text-shadow: 3px 3px 4px black;
    bottom: 20px;
    margin-right: 20px;
}
/* request */
.request{
    grid-template-columns: 1fr;
    height: 400px;
    gap: 70px;
}
.request-part4{
  display: none;
}
.request-part5{
  display: none;
}
/* main-1 */
.right-sidebar-ads{
    display: none;
}
.left-sidebar{
    display: none;
}
.right-sidebar{
    display: none;
}
.main{
    grid-template-columns: 1fr;
}
.content-part{
    height: 90px;
    margin-top:0px;
    margin-bottom:0px;
}
.main-content .category{
    display: none;
}
.main-content .content-title{
    font-size: 13px;
    font-weight: 550;
}
.main-content .content-text{
    display: none;
}
.main-content .context-content{
    margin-left: 5px;
    margin-right: 5px;
    line-height: 20px;
}
.main-content .info{
    margin:0px;
    font-size: 12px;
}
.main-content .img-content{
    width: 70%;
    height: 80px;
    margin-right: 5px;
    margin-left: 5px;
}
/* content footer */
.content-footer{
    padding: 1px;
    margin-left: 20px;
    float: left;
}
.page-numbers-text{
    display: none;
}
.page-numbers ul li{
    margin-left: 10px;
    font-size: 0.8rem;
}
/* خودرو */
.one-category{
    margin:30px 0px 0px 0px;
    height: auto;
}
.one-category-posts-img{
    width: 250px;
    height: 100px;
    margin: 0px;
}
.one-category-posts{
    display: flex;
    height: 100px;
}
.category-top6-left-down-posts img{
    width: 150px;
    height: 100%;
}
/* بررسی */
.category-top6-left-down{
    margin-bottom: 150px;
}
/* footer */
.footer{
    font-size: 0.8rem;
}
.footer-columns{
    flex-direction: column;
}
.footer-terabyte{
    font-size: 0.6rem;
}

/* Archive Post */
.archive-part{
    height: 150px;
}
.category-archive-main-title{
    font-size: 1em;
}
.img-archive{
    width: 100%;
    height: 70%;
}
.archive-category{
    display: none;
}
.archive-part .archive-title{
    font-size: 0.8em;
}

/* single page */
.single-page-container .single-page-bio{
    width: 98%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

}
@media (max-width:580px){
    body, html{
        overflow-x: hidden;
    }
}
