@font-face{
    font-family: "Shabnam";
    font-style: normal;
    src: url("../fonts/Shabnam-FD.ttf");
}

*, body{
    font-family: 'Shabnam' !important;
}

.category-container{
    display: grid;
    grid-template-columns: 6fr 1.5fr;
    gap: 10px;
}

.content{
    margin-top: 10px;
    
}
.left-sidebar{
    margin-top: 10px;
}

.category-archive-main-title{
    font-size: 1.4em;
    padding: 5px 20px;
}

.archive-part{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 220px;
    border-bottom: 2px solid rgba(218, 218, 218, 0.418);
    padding: 0px 10px;
}
.archive-part .archive-category{
    font-size: 0.7em;
    opacity:60%;
    margin: 10px 0px;
}

.archive-part .archive-title{
    font-size: 1.1em;
}

.archive-part .info{
    font-size: 0.6em;
    opacity: 60%;
}

.archive-part .archive-text{
    font-size: 1em;
    opacity: 95%;
}
.img-archive{
    width: 50%;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}